.App {
  text-align: center;
}

.App-logo {
  animation: rotate infinite 50s linear;
  height: 150vmin;
}

.App-header {
  background-color: #282c34;
  animation: fade 1s ease-in-out 5s infinite alternate;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Plain-text {
  color: #51dafb;
}

.App-link {
  color: #61dafb;
}

@keyframes fade {
  from {
    background-color: #282c34;
  }
  to { 
    background-color: #000000;
  }
}

@keyframes spiny {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes spinx {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
