.icon-left {
  position: absolute;
  top: 10px;
  left: 10px;
}

.icon-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.text-format {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.summer {
  background-color: goldenrod;
}

.winter {
  background-color: lightblue;
}

.summer i {
  color: red;
}

.winter i {
  color: blue;
}
